<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="filePath" value="C:\Data\PointOfSale" />
  </appSettings>
  <connectionStrings>
    <add name="POS" connectionString="Server=.\SQLEXPRESS;Database=POS;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="PointOfSaleViewerForm.Properties.Settings.POSConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=POS;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>